API_ID=25395782
API_HASH=3c0f6066a07142d664690cfd34447450
BOT_TOKEN=7262095494:AAFclA3a3SDbyFkedrnQcg5g2lZF87vTUI8
LOGGER_ID=1002168263778
MONGO_DB_URI=mongodb+srv://tanjiro1564:tanjiro1564@cluster0.pp5yz4e.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=1886390680
STRING_SESSION=BAGDgkYAtVEAp0Ii6l1FxkVG-52T3tc6yX_MYHnlQQwx7ZKee9DWOMisG0JjdGEKaxysSUCn1zRg5ukuwMxmrIwyuvNtyd8rYaHgDVlKm8TpU647ap9_leb93-1j_eGdWs4mBfiePA7jbtCVNSCrOwpn-Ms99QmrCMVM_FrJOYdWaJ1unHqbP60XkpAs0Om5YW8DjqohGHByWOcGpokL6eJoneeh7x0bS2OPHC33g9QjhVM-evImWVtYIBkgdKMdFHeTa7DPDn3Yx92zF30LsVlUP8Io1-XhwF54qhuWSn9X49E0OlE3d8-JyJ07GBes3XRhhIyLoOxtAxugFhMfw4SvGGKJpwAAAAG6HIryAA 

