API_ID=25395782
API_HASH=3c0f6066a07142d664690cfd34447450
BOT_TOKEN=7262095494:AAFclA3a3SDbyFkedrnQcg5g2lZF87vTUI8
LOGGER_ID=1002168263778
MONGO_DB_URI=mongodb+srv://tanjiro1564:tanjiro1564@cluster0.pp5yz4e.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=1886390680
STRING_SESSION=BAGDgkYAL_ZKiWHvQ6EAaUGazzQzFWILamOSd8M6mB3ZPe-Y4Grug0v1oz1pod6eP8ayQSJzs9VAiRA9MDZf1BmI-DMc2-KmfhIi3Rfs51yK2MntC-Pfneg2atwACvJNeryvoELxNifGrSjcwKgDicCVT0qm98y4CjDo0ev_PM3vyvjaTFmwHzVekYGKwpnkPDiTb3AdYPLTE06VvgBOrCwqS6eKJUkY4_iaWvOtfeNDzE0XB2yPygk6GZa_bA6CJwXNa2jJE0v3ltck0CvnjpvG32FT4Ym1Ie5edWXqvULmWRwI08fzstMzi4qOX3eMIAquEZutbtwCkJWgGAYJZXrOx2qojwAAAAG6HIryAA

